@import "fonts";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    line-height: 1.5;
}

.interactive-embed {
    position: relative;
    width: 100%;
}

.header {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 50%;
    min-width: 300px;
    position: absolute;
    top: calc(100% + 60px); 
}
@media (min-width: 480px) { 
.header {
    top: 8%; 
}}


// chart
.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    position: absolute;
    //padding: 5px 20px 20px 5px;
    padding: 10px 30px 10px 10px;
    
    text {
    @include fs-data(2);
    fill: rgb(187, 187, 187);
    }
    circle {
    cursor: pointer;
}}
g[class^="axis"] {
    text-anchor: middle;
}
.axis-year line {
    stroke: #e6e6e6;//rgb(238, 238, 238);
    shape-rendering: auto;
    stroke-dasharray: 1, 1;    
}
.axis-mark line {
    stroke: transparent;//#f6f6f6;//rgb(246, 246, 246);
    shape-rendering: auto;
}
.axis-highlight > * {
    transition: 0.25s;
}

// states 
.states {
    color: grey;
    font-size: 13px;
    
    width: 100%;
    position: absolute;
    top: 100%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 3px;
}
.btn {
    padding: 0 5px;
}
.btn-focus {
    border-top: 4px solid;
    padding-top: 5px;
}
[class*="btn-"] {
    cursor: pointer;
}

.count-focus {
    text-decoration: underline;
}

// demo
.plot {
    @include fs-data(2);
    display: inline-block;
}

//@media (min-width: 660px) { width: (100% / 2); }
//@media (min-width: 980px) { width: (100% / 3); }

/* atomic style */
.f-14 { font-size: 14px; }
.c-g { color: grey; }
.m-0 { margin: 0; }
.mb-10 { margin-bottom: 10px; }
