@import "fonts";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}
p {
    //margin: 0;
    line-height: 1.5;
}

[class*="btn-"] {
    cursor: pointer;
}

.interactive-embed { }


/* section header */
header {
    max-width: 496px; // 620 (max width)*0.8
}

.btn-next {
    @include fs-textSans(3);
    color: #fff;
    background-color: #2492c4;
    
    position: relative;
    display: inline-block;
    padding: 7px 36px 5px 12px;
    border-radius: 20px;

    transition: 1s;
}
.btn-disable {
    background-color: #bbb;
    cursor: default;    
}

.arrow-right {
    position: absolute;
    right: 5px;
    top: 4px;
}
.replay {
    position: absolute;
    right: 12px;
    top: 10px;
}


/* section graph*/
.graph {
    position: relative;
    width: 100%;
}


// tooltip 
.tooltip { 
    @include fs-textSans(1);
    line-height: 17px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.5);
    
    //width: 50%;
    //min-width: 300px;
    border: 1px solid #f1f1f1; 
    padding: 8px 10px 7px;
    position: fixed;//absolute;
    pointer-events: none; 
    
    p { margin: 0; }
}
.icon-medal {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    margin: 3px 5px -1px -1px;
}

// chart
.chart {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    position: absolute;
    //padding: 5px 20px 20px 5px;
    padding: 11px 30px 10px 10px;
    
    text {
    @include fs-data(2);
    fill: rgb(187, 187, 187);
    }
    circle {
    cursor: pointer;
}}
g[class^="axis"] {
    text-anchor: middle;
}
.axis-year line {
    stroke: #e6e6e6;//rgb(238, 238, 238);
    shape-rendering: auto;
    stroke-dasharray: 1, 1;    
}
.axis-mark line {
    stroke: transparent;//#f6f6f6;//rgb(246, 246, 246);
    shape-rendering: auto;
}
.dots-world circle:last-child {
    fill-opacity: 1;
    pointer-events: all;
}

// states 
.states {
    color: grey;
    font-size: 13px;
    
    width: 100%;
    position: absolute;
    top: 100%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 3px;
    // temp
    display: none;
}
.btn {
    padding: 0 5px;
}
.btn-focus {
    border-top: 4px solid;
    padding-top: 5px;
}
.count-focus {
    text-decoration: underline;
}


// highlight
.highlight {
    opacity: 0;
    //position: relative;
    pointer-events: none;
}
.highlight > div {
    //position: absolute;
}
.dots-animate {
    border: 1px solid;
    border-radius: 50px;
    position: fixed;
}
.animate {
    animation: scale 1.5s ease infinite;
}
@keyframes scale {
    0%   { transform: scale(1);   opacity: 0.5; }
    75%  { transform: scale(1.5); opacity: 1; }
    100% { transform: scale(1);   opacity: 0.25; }
}

/* atomic style */
.fz-14 { font-size: 14px; }
.fw-b { font-weight: bold; }
.c-g { color: grey; }
.m-0 { margin: 0; }
.mb-10 { margin-bottom: 10px; }
.d-ib { display: inline-block; }

// demo
.plot {
    @include fs-data(2);
    display: inline-block;
}
//@media (min-width: 660px) { width: (100% / 2); }
//@media (min-width: 980px) { width: (100% / 3); }

@media (max-width: 480px) { 
body {
    font-size: 14px;
}
.graph {
    margin-top: 15px; 
}}
